.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(114, 114, 114, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  max-width: 100vw;
  max-height: 100vh;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  padding: 20px;
  object-fit: contain;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalContainer .body input {
  width: 400px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 999;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  width: fit-content;
}
.modalContainer .body img {
  z-index: 900;
  max-height: 90vh;
  object-fit: scale-down;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  font-size: 11px;
  overflow: auto;
}

.scroller {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
