html,
body {
  background-color: #f0e0d6;
  color: maroon;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  top: 0;
}

#header {
  top: 0;
  position: sticky;
  background-image: linear-gradient(to right, #b00b69, #420420);
  width: 100%;
  height: 50px;
  color: white;
  margin: auto;
  z-index: 998;
  display: flex;
  flex-direction: row;
}

#header img {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  padding: 5px;
  filter: drop-shadow(-3px 3px 5px black);
  overflow: hidden;
}

#app {
  background-color: #d9bfb7;
  background-position: bottom;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#questions {
  padding: 3px;
  margin-bottom: 50px;
}

#questions div {
  padding: 5px;
}

#questions .qSearch {
  width: 99%;
  height: 35px;
  margin: auto;
}

.qHelpful {
  float: right;
}

#overview {
  width: 100%;
  padding: 5px;
}

#overview .flexContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

#overview .leftPanel {
  min-height: 100px;
  width: 60%;
  padding: 10px;
  margin: auto;
}

#overview .rightPanel {
  min-height: 100px;
  width: 40%;
  padding: 10px;
  margin: auto;
}

#overview .styleSelector {
  border: 1px solid black;
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
  margin: auto;
}

#overview .styleSelector:hover {
  border: 2px solid blue;
}

.overview-title {
  padding: 10px;
}

button {
  display: inline-block;
  padding: 5px;
  border: 2px solid maroon;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2px;
  text-align: center;
  color: #0f0c5d;
  background-color: #d6daf0;
  cursor: pointer;
}
button:disabled {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(231, 59, 59, 0.4);
  margin: 0 0.3em 0.3em 0;
  border-radius: 2px;
  text-align: center;
  color: #2f2ba5;
  background-color: #a2a3aa;
  cursor: default;
}
a {
  cursor: pointer;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f0e0d6;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #b00b69;
}

.scrollable::-webkit-scrollbar-button {
  background: maroon;
}
