html,
body {
  background-color: #f0e0d6;
  color: maroon;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
  width: 80%;
  height: 100%;
}

#header {
  top: 0;
  position: fixed;
  background-image: linear-gradient(to right, #b00b69, #420420);
  max-width: 80%;
  width: 80%;
  border: 1px solid black;
  color: white;
  margin: auto;
  z-index: 998;
}

#app {
  background-color: #d9bfb7;
  background-position: bottom;
  padding-top: 5%;
  width: 80%;
  height: auto;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#questions {
  padding: 3px;
  max-height: 500px;
}

#questions div {
  padding: 5px;
}

#questions .qSearch {
  width: 99%;
  height: 35px;
  margin: auto;
}

.qHelpful {
  float: right;
}

button {
  display: inline-block;
  padding: 5px;
  border: 2px solid maroon;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2px;
  text-align: center;
  color: #0f0c5d;
  background-color: #d6daf0;
  cursor: pointer;
}
button:disabled {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(231, 59, 59, 0.4);
  margin: 0 0.3em 0.3em 0;
  border-radius: 2px;
  text-align: center;
  color: #2f2ba5;
  background-color: #a2a3aa;
  cursor: default;
}
a {
  cursor: pointer;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f0e0d6;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #b00b69;
}

.scrollable::-webkit-scrollbar-button {
  background: maroon;
}
